vm:
  box: debian/buster64
  name: Debian
  hostname: local.test
  ip: 192.168.56.101
  memory: 2048
  cpus: 1
  shared:
    source: C:/Users/<your-os-username>/Documents/www
    target: /var/www
server:
  packages:
    - exim4
    - git
    - memcached
    - vim
  timezone: Europe/Paris
nginx:
  vhosts:
    default:
      server_name:
        - _
      www_root: /var/www/html
      try_files:
        - $uri
        - $uri/
        - /index.php$is_args$args
      locations:
        default-php:
          location: ~ \.php$
          fastcgi: php-fpm
          fastcgi_index: index.php
          fastcgi_param:
            APP_ENV: dev
            SCRIPT_FILENAME: $document_root$fastcgi_script_name
          location_cfg_append:
            fastcgi_buffers: '16 16k'
            fastcgi_buffer_size: '32k'
            fastcgi_keep_conn: 'on'
            fastcgi_read_timeout: 120
            set: $path_info $fastcgi_path_info
    simple.com:
      server_name:
        - example.com
      www_root: /var/www/example.com/public
      ssl: true
      ssl_redirect: true
      ssl_cert: /var/www/example.com/certs/fullchain.pem
      ssl_key: /var/www/example.com/certs/privkey.pem
      ssl_trusted_cert: /var/www/example.com/certs/chain.pem
      try_files:
        - $uri
        - $uri/
        - /index.php$is_args$args
      rewrite_rules:
        - '^/from/$ /to/$1 last'
      locations:
        example-php:
          location: ~ \.php$
          fastcgi: php-fpm
          fastcgi_index: index.php
          fastcgi_param:
            APP_ENV: dev
            SCRIPT_FILENAME: $document_root$fastcgi_script_name
          location_cfg_append:
            fastcgi_buffers: '16 16k'
            fastcgi_buffer_size: '32k'
            fastcgi_keep_conn: 'on'
            fastcgi_read_timeout: 120
            set: $path_info $fastcgi_path_info
    prestashop.com:
      server_name:
        - dev.prestashop.com
        - dev.prestashop.fr
      www_root: /var/www/prestashop.com
      ssl: true
      ssl_redirect: true
      ssl_cert: /var/www/_saves/certificates/prestashop/fullchain.pem
      ssl_key: /var/www/_saves/certificates/prestashop/privkey.pem
      ssl_trusted_cert: /var/www/_saves/certificates/prestashop/chain.pem
      try_files:
        - $uri
        - $uri/
        - /index.php$is_args$args
      rewrite_rules:
        - '^/api/?(.*)$ /webservice/dispatcher.php?url=$1 last'
        - '^/([0-9])(-[_a-zA-Z0-9-]*)?(-[0-9]+)?/.+\.jpg$ /img/p/$1/$1$2.jpg last'
        - '^/([0-9])([0-9])(-[_a-zA-Z0-9-]*)?(-[0-9]+)?/.+\.jpg$ /img/p/$1/$2/$1$2$3.jpg last'
        - '^/([0-9])([0-9])([0-9])(-[_a-zA-Z0-9-]*)?(-[0-9]+)?/.+\.jpg$ /img/p/$1/$2/$3/$1$2$3$4.jpg last'
        - '^/([0-9])([0-9])([0-9])([0-9])(-[_a-zA-Z0-9-]*)?(-[0-9]+)?/.+\.jpg$ /img/p/$1/$2/$3/$4/$1$2$3$4$5.jpg last'
        - '^/([0-9])([0-9])([0-9])([0-9])([0-9])(-[_a-zA-Z0-9-]*)?(-[0-9]+)?/.+\.jpg$ /img/p/$1/$2/$3/$4/$5/$1$2$3$4$5$6.jpg last'
        - '^/([0-9])([0-9])([0-9])([0-9])([0-9])([0-9])(-[_a-zA-Z0-9-]*)?(-[0-9]+)?/.+\.jpg$ /img/p/$1/$2/$3/$4/$5/$6/$1$2$3$4$5$6$7.jpg last'
        - '^/([0-9])([0-9])([0-9])([0-9])([0-9])([0-9])([0-9])(-[_a-zA-Z0-9-]*)?(-[0-9]+)?/.+\.jpg$ /img/p/$1/$2/$3/$4/$5/$6/$7/$1$2$3$4$5$6$7$8.jpg last'
        - '^/([0-9])([0-9])([0-9])([0-9])([0-9])([0-9])([0-9])([0-9])(-[_a-zA-Z0-9-]*)?(-[0-9]+)?/.+\.jpg$ /img/p/$1/$2/$3/$4/$5/$6/$7/$8/$1$2$3$4$5$6$7$8$9.jpg last'
        - '^/c/([0-9]+)(-[_a-zA-Z0-9-]*)(-[0-9]+)?/.+\.jpg$ /img/c/$1$2.jpg last'
        - '^/c/([a-zA-Z-]+)(-[0-9]+)?/.+\.jpg$ /img/c/$1.jpg last'
        - '^/([0-9]+)(-[_a-zA-Z0-9-]*)(-[0-9]+)?/.+\.jpg$ /img/c/$1$2.jpg last'
      locations:
        prestashop-php:
          location: ~ \.php$
          fastcgi: php-fpm
          fastcgi_index: index.php
          fastcgi_param:
            APP_ENV: dev
            SCRIPT_FILENAME: $document_root$fastcgi_script_name
          location_cfg_append:
            fastcgi_buffers: '16 16k'
            fastcgi_buffer_size: '32k'
            fastcgi_keep_conn: 'on'
            fastcgi_read_timeout: 120
            set: $path_info $fastcgi_path_info
php:
  modules:
    - php-bcmath    # Prestashop 1.7
    - php-curl      # Prestashop 1.6-1.7, Wordpress
    #- php-dev       # To install removed extensions (eg. mcrypt)
    - php-imagick   # Prestashop 1.6-1.7, Wordpress
    - php-intl      # Prestashop 1.7
    - php-mbstring  # Prestashop 1.7, PHPUnit, Wordpress
    #- php-mcrypt    # Prestashop 1.6 (removed from PHP since 7.2)
    - php-memcached
    - php-mysql     # Prestashop 1.6-1.7 (mysqlnd), Wordpress (mysqli)
    - php-soap      # Prestashop 1.6-1.7
    - php-xdebug
    - php-xml       # Prestashop 1.6-1.7 (dom, simplexml), PHPUnit (dom), Wordpress (dom, xml)
    - php-zip       # Prestashop 1.6-1.7, Wordpress
  conf:
    display_errors: On
    error_reporting: -1
    max_execution_time: 120
    max_input_vars: 10000
    request_terminate_timeout: 120
    sendmail_path: '/usr/bin/mailhog sendmail root@local.test'
  pool:
    www:
      pm.max_children: 20
      pm.start_servers: 3
      pm.min_spare_servers: 2
      pm.max_spare_servers: 4
      pm.max_requests: 500
      security.limit_extensions: php
  xdebug:
    xdebug.remote_enable: 1
    xdebug.remote_host: 10.0.2.2
